# Audio Streams
NEXT_PUBLIC_AUDIO_SERTANEJO_URL=
NEXT_PUBLIC_AUDIO_ROCK_URL=
NEXT_PUBLIC_AUDIO_POP_URL=
NEXT_PUBLIC_AUDIO_GOSPEL_URL=

# Video Stream
NEXT_PUBLIC_VIDEO_LIVE_URL=

# API Configuration
NEXT_PUBLIC_RADIO_STATUS_ENDPOINT=/api/radio-status
